<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<resultMap type="memberDTO" id="memberResult">
		<result column="email" property="email" />
		<result column="pw" property="pw" />
	</resultMap>
	
	<select id="checkId" parameterType="memberDTO" resultMap="memberResult">
		select * from member where email = #{email} and pw = #{pw}
	</select>


</mapper>