<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


	<!-- 컨트롤러 생성하지 않아도 자동스캔(생성)되도록 설정 -->
	<context:component-scan base-package="controller" />
	<context:component-scan base-package="model.dao" />
	<context:component-scan base-package="model.service" />
	
	<!-- viewReslover 등록 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" /> <!-- 폴더경로 -->
		<property name="suffix" value=".jsp" /><!-- 확장자 -->
	</bean>



	<!-- Json 응답을 위한 설정 -->
	<bean id="jsonView" class="net.sf.json.spring.web.servlet.view.JsonView" >
		<property name="contentType" value="text/html;charset=UTF-8" />
	</bean>

	<!-- ViewResolver를 찾을때 bean의 id로 제일먼저 찾을수 있도록 우선순위를 0으로 줌
			생략시 spring controller에서 jsonView에 매핑된 view 실행 불가 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="0" />
	</bean>
</beans>
